<div class="container">

<h1> Please fucking work goddammit </h1>

<form class="getCharId">
	<input type="text" class="char_id" name="characterID" placeholder="Enter Character ID">
	<input type="submit">
</form>

<div class="charNames">

</div>

</div>
