<div class="container">

<h1> Marvel Character Compendium! </h1>

<form class="getChar">
	<input type="text" class="char_name" name="character" placeholder="Enter Character">
	<input type="submit">
</form>

<div class = "charName">
	
</div>

<div class="charThumb">

</div>

<div class="series">

</div>

</div>
